.hc{
    margin-top: 7%;
    text-align: center;
    background-color:#4B352A ;
    font-family: 'jost' sans-serif;
}
.intro{
    background-color:#ECCA9C;
    
}

img{
    margin-right: 50%;
    margin-left: 2%;
    margin-top: 5%;
    text-align: right;
    height: 30%;
    width: 30%;

}

.start{
    margin-right:40% ;
    margin-left: 2%;
    font-family: "roboto" sans-serif;
}

.o{
    background-color: #BA704F;
}

.p{
    background-color: #AEC8A4;
}

.h{
    background-color: #FFFAF4;
}

.i{
    background-color: #F2C078;
}

.part1{
    display: flex;
    padding: 5px;
}

.part2{
    display: flex;
    padding: 5px;
}

.hero{
    background-color: #754E1A;
    
}

.card1{
background-color: #F8E1B7;
text-align: center;
width: 30%;
height: 60%;
border-radius: 15px;
margin-left: 2%;
padding: 5px;
margin-bottom: 5px;
font-family: 'Open sans' sans-serif;
box-shadow: 5px 5px 5px #F2C078;
}

.card2{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: #F8E1B7;
    margin-left: 2%;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #F2C078;
}

.card3{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: #F8E1B7;
    margin-left: 2%;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px  #F2C078;
}

.card4{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: #F8E1B7;
    margin-left: 2%;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #F2C078;
}

.card5{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: #F8E1B7;
    margin-left: 5%;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #F2C078 ;
}

.card6{
    width: 30%;
    height: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: #F8E1B7;
    margin-left: 5%;
    max-width: 90%;
    padding: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px #F2C078;
}

.facts{
    background-color: #C9B59C;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    text-shadow: none;
    margin-bottom: 10px;
}

.facts1{
background-color: #EFE9E3;
width: 30%;
height: 20%;
margin-top: 6px;
border-radius: 7px;
padding: 3px;
margin-right: 10px;
text-align: center;
box-shadow: #4B352A 3px 3px 3px;
}

.facts2{
background-color: #D9CFC7;
width: 30%;
height: 20%;
margin-top: 8px;
border-radius: 7px;
padding: 3px;
margin-left: 50%;
text-align:center ;
box-shadow: #4B352A 3px 3px 3px;
}

.facts3{
    background-color: #EFE9E3;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    border-radius: 7px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts4{
    background-color: #D9CFC7;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    border-radius: 7px;
    padding: 3px;
    margin-left: 50%;
    text-align: center;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts5{
    background-color:#EFE9E3 ;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts6{
    background-color:#D9CFC7 ;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 50%;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts7{
    background-color: #EFE9E3;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts8{
    background-color: #D9CFC7;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 50%;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts9{
    background-color: #EFE9E3;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px ;
}

.facts10{
    background-color: #D9CFC7;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 50%;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts11{
    background-color:#EFE9E3 ;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.facts12{
    background-color: #D9CFC7;
    width: 30%;
    height: 20%;
    margin-top: 8px;
    padding: 3px;
    margin-left: 50%;
    text-align: center;
    border-radius: 7px;
    box-shadow: #4B352A 3px 3px 3px;
}

.factsh2{
    background-color: #BA704F;
    border-radius: 15%;
}

.thanks{
    margin-top: 15px;
    align-items: center;
    background-color: #A18D6D;
}

.thk{
    margin-left: 32%;
    text-align: center;
}

.imgthk{
width: 50%;
height: 50%;
}

.text{
    text-align: center;
    margin-right: 45%;
    margin-bottom: 25px;
}

footer{
    background-color: #C4A484;
    text-align: center ;
}